@charset "utf-8";
html,body{
    font-family:"맑은고딕";
    font-size:16px;
    color:#333333;
    background-color:#ffffff;
    margin:0;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:#666666;
}
img{
    vertical-align: bottom;
}
*{
    box-sizing:border-box;
}

/* 헤더 */
header{
    width:1200px;
    height:100px;
    background-color:#eee;
    margin:auto;
}
#section{
    width:1200px;
    height:500px;
    background-color:#ddd;
    margin:auto;
}
footer{
    width:1200px;
    height:100px;
    background-color:#ccc;
    margin:auto;
}